  <!DOCTYPE html>
  <html>
    <head>
      <title>MusicApp</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

	<header>
	<h1>Music App!!</h1>
	<% if logged_in? %>
		<%= link_to "Sign Out", session_url, method: :delete %>
	<% else %>
		<%= link_to "Sign Up", new_user_url %>
		<%= link_to "Sign In", new_session_url %>
	<% end %>
	<% if flash[:errors] %>
		<%= flash[:errors] %>
	<% end %>
	</header>
    <body>

      <%= yield %>
    </body>
  </html>
